*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.container{
    background-color: #222242;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: absolute;
}

.wrapper{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper p{
    position: relative;
    display: inline-block;
    color: #ffffff;
    z-index: 9999;
    font-size: 48px;
    margin-bottom: 120px;
}

button{
    background-color: #222242;
    padding: 10px 38px;
    color: #fff;
    border: 1px solid #a9a9a9;
    border-radius: 28px;
    outline: 0;
    transform: all .2s ease;
    cursor: pointer;
    display: none;
}


button.start.active{
    display: inline-block;
}
button.stop.active{
    display: inline-block;
}
button.reset.active{
    display: inline-block;
}


button.start:hover{
    background-color: rgb(15, 180, 54);
}
button.stop:hover{
    background-color: red;
}
button.reset:hover{
    background-color: #2a2a7b;
}


button:not(:last-child) {
    margin-right: 20px;
}

